.mainLayout {
  display: flex !important;
  padding: 5%;
  padding-top: 8%;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}
.oneCardFav {
  display: flex;
}
